<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
	<script src="https://unpkg.com/jcrop"></script>

	<title>Image edit</title>
</head>
<body class="blue-grey darken-4 white-text">
	<div class="container">
		<span class="flow-text row">Edit your audio</span><br>
		<p id="fileName" class="hide"><%=fileName%></p>

		<% switch(ext) { 
			case "mp3":
			case "ogg": %>
			<div class="row">
				<div class="col s6 center-align">
					<audio controls muted src="/files/<%=fileName%>"></audio>
				</div>
				<div id="preview-block" class="col s6 center-align hide">
					<audio id="editPreview" src="" controls muted></audio>
				</div>
			</div>
			<% break;

			default: %>
			<div class="row">
				<div class="col s6 center-align">
					<video width="320" height="240" controls muted src="/files/<%=fileName%>">
				</div>
				<div id="preview-block" class="col s6 center-align hide">
					<video id="editPreview" width="320" height="240" controls muted src="">
				</div>
			</div>
			<% break;

		   } %>
			

		<ul class="collapsible black-text">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">content_cut</i>Cut</div>
		      <div class="collapsible-body grey lighten-3">
		      	<div class="input-field">
		      		<input type="number" id="cutStart">
		      		<label for="cutStart">Cut start (in seconds)</label>
				</div>
				<div class="input-field">
		      		<input type="number" id="cutEnd">
		      		<label for="cutEnd">Cut end (in seconds)</label>
				</div>
				<button class="btn waves-effect waves-light deep-orange darken-2" id="cut">Cut</button>
		      </div>
		    </li>
		</ul>

		<div class="row"><div id="anchor"></div></div>

	</div>

	<script src="/materialize/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/scripts/audio_page.js"></script>
	
</body>
</html>
