<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
	<script src="https://unpkg.com/jcrop"></script>

	<title>Img</title>
</head>
<body class="blue-grey darken-4">
<div class="container">
	<h1>Modify your image</h1>
	<p id="fileName" class="hide"><%=fileName%></p>
	<img id="toModify" src="<%=fileName%>">

	<h1>Resize input</h1>
	<input type="number" id="sizeX" placeholder="size X">
	<input type="number" id="sizeY" placeholder="size Y">
	<button id="resize">resize</button>

	<h1>Cropping input</h1>
	<input type="number" id="cropX" placeholder="crop X">
	<input type="number" id="cropy" placeholder="crop Y">
	<input type="number" id="posX" placeholder="pos X">
	<input type="number" id="posY" placeholder="pos Y">
	<button id="crop">Crop</button>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="img_page.js"></script>
</html>
