<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
	<script src="https://unpkg.com/jcrop"></script>

	<title>Image edit</title>
</head>
<body class="blue-grey darken-4 white-text">
	<div class="container">
		<span class="flow-text">Edit your image</span><br>
		<p id="fileName" class="hide"><%=fileName%></p>
		<div class="row">
			<div class="col s4">
				<img id="toModify" class="responsive-img hoverable" src="/files/<%=fileName%>">
			</div>
			<div id="preview-block" class="col s4 offset-s4">
				<img id="editPreview" class="responsive-img hoverable hide" src="">
			</div>
		</div>	
			
		<ul class="collapsible black-text">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">photo_size_select_large</i>Resize</div>
		      <div class="collapsible-body grey lighten-3">
		      	<div class="input-field">
		      		<input type="number" id="sizeX">
		      		<label for="sizeX">size X</label>
				</div>
				<div class="input-field">
		      		<input type="number" id="sizeY">
		      		<label for="sizeY">size Y</label>
				</div>
				<button class="btn waves-effect waves-light deep-orange darken-2" id="resize">Resize</button>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">crop</i>Crop</div>
		      <div class="collapsible-body grey lighten-3">
		      	<div class="input-field">
		      		<input type="number" id="cropX">
		      		<label for="cropX">crop X</label>
				</div>
				<div class="input-field">
		      		<input type="number" id="cropY">
		      		<label for="cropY">crop Y</label>
				</div>
				<div class="input-field">
		      		<input type="number" id="posX">
		      		<label for="posX">pos X</label>
				</div>
				<div class="input-field">
		      		<input type="number" id="posY">
		      		<label for="posY">pos Y</label>
				</div>
				<button class="btn waves-effect waves-light deep-orange darken-2" id="crop">Crop</button>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">blur_circular</i>Gaussian blur</div>
		      <div class="collapsible-body grey lighten-3">
		      	<div class="range-field">
		      		<span class="grey-text">Blur radius:</span>
		      		<input type="range" id="blurRadiusSlider" min="0" max="100" value="50">
				</div>
				<div class="range-field">
		      		<span class="grey-text">Sigma:</span>
		      		<input type="range" id="blurSigmaSlider" min="0" max="100" value="20">
				</div>
				<button class="btn waves-effect waves-light deep-orange darken-2" id="blur">Blur</button>
		      </div>
		    </li>
		</ul>

		<div class="row"><div id="anchor"></div></div>

	</div>

	<script src="/materialize/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/scripts/img_page.js"></script>
	
</body>
</html>
