<!DOCTYPE html>
<html lang="en">
<head>
	<title>iTsMedia</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="blue-grey darken-4">
	<div class="container">
	<h1>Welcome</h1>
	<form action="/file" method="post" encType="multipart/form-data">
		<input name="toUpload" id="file" type="file" multiple></input>
		<input type='submit' value='upload' />
	</form>
	</div>
</body>
</html>
